Repository KatarinaKomad/UKS-Tim1, pull requests merged in 2024-02, with the labels that each got.

#62 Feature 14: Repository settings
  backend/uks/src/main/java/uns/ac/rs/uks/controller/BranchController.java
  backend/uks/src/main/java/uns/ac/rs/uks/controller/RepoController.java
  backend/uks/src/main/java/uns/ac/rs/uks/dto/request/RepoUpdateRequest.java
  backend/uks/src/main/java/uns/ac/rs/uks/dto/response/BranchBasicInfoDTO.java
  backend/uks/src/main/java/uns/ac/rs/uks/dto/response/RepoBasicInfoDTO.java
  backend/uks/src/main/java/uns/ac/rs/uks/mapper/BranchMapper.java
  backend/uks/src/main/java/uns/ac/rs/uks/mapper/RepoMapper.java
  backend/uks/src/main/java/uns/ac/rs/uks/model/Repo.java
  backend/uks/src/main/java/uns/ac/rs/uks/repository/BranchRepository.java
  backend/uks/src/main/java/uns/ac/rs/uks/service/BranchService.java
  backend/uks/src/main/java/uns/ac/rs/uks/service/RepoService.java
  backend/uks/src/main/resources/application-dev.properties
  backend/uks/src/test/java/uns/ac/rs/uks/controller/RepoControllerTest.java
  backend/uks/src/test/java/uns/ac/rs/uks/repository/BranchRepositoryTest.java
  backend/uks/src/test/java/uns/ac/rs/uks/service/BranchServiceTest.java
  backend/uks/src/test/java/uns/ac/rs/uks/service/RepoServiceTest.java
  backend/uks/src/test/resources/data-test.sql
  frontend/uks/package-lock.json
  frontend/uks/src/app/app.module.ts
  frontend/uks/src/app/components/atoms/tabs/tabs.component.html
  frontend/uks/src/app/components/atoms/tabs/tabs.component.ts
  frontend/uks/src/app/components/organisms/repo-settings/repo-settings.component.html
  frontend/uks/src/app/components/organisms/repo-settings/repo-settings.component.scss
  frontend/uks/src/app/components/organisms/repo-settings/repo-settings.component.ts
  frontend/uks/src/app/pages/home-page/home-page.component.html
  frontend/uks/src/models/branch/branch.ts
  frontend/uks/src/models/forms/authenticationForm.ts
  frontend/uks/src/models/repo/repo.ts
  frontend/uks/src/services/branch/branch.service.spec.ts
  frontend/uks/src/services/branch/branch.service.ts
  frontend/uks/src/services/repo/repo.service.ts
Labels: backend, frontend

#68 Feature 66: Creating repo on gitolite
  .gitignore
  backend/docker/DockerfileGitolite
  backend/docker/docker-compose.yml
  backend/docker/gitolite-admin_id_rsa
  backend/docker/gitolite-admin_id_rsa.pub
  backend/docker/init.sql
  backend/uks/src/gitolite/Dockerfile
  backend/uks/src/gitolite/Gitolite commands.txt
  backend/uks/src/gitolite/commitAndPushScript.sh
  backend/uks/src/main/java/uns/ac/rs/uks/controller/KeyController.java
  backend/uks/src/main/java/uns/ac/rs/uks/dto/request/KeyRequest.java
  backend/uks/src/main/java/uns/ac/rs/uks/dto/response/KeyResponse.java
  backend/uks/src/main/java/uns/ac/rs/uks/dto/response/RepoBasicInfoDTO.java
  backend/uks/src/main/java/uns/ac/rs/uks/mapper/RepoMapper.java
  backend/uks/src/main/java/uns/ac/rs/uks/service/GitoliteService.java
  backend/uks/src/main/java/uns/ac/rs/uks/service/RepoService.java
  backend/uks/src/main/resources/application-dev.properties
  docker-compose.yml
Labels: technical, backend

#70 Feature 69: Reading branches from gitolite server
  backend/uks/src/gitolite/gitolite_admin_read_branches_script.log
  backend/uks/src/gitolite/readBranchesScript.sh
  backend/uks/src/main/java/uns/ac/rs/uks/controller/BranchController.java
  backend/uks/src/main/java/uns/ac/rs/uks/dto/response/BranchBasicInfoDTO.java
  backend/uks/src/main/java/uns/ac/rs/uks/service/BranchService.java
  backend/uks/src/main/java/uns/ac/rs/uks/service/GitoliteService.java
  backend/uks/src/main/resources/application-dev.properties
Labels: technical, backend

#73 Feature 71: Added gitolite method to read branch commits
  .gitignore
  backend/uks/src/gitolite/gitolite_admin_read_branches_script.log
  backend/uks/src/gitolite/readCommitsScript.sh
  backend/uks/src/main/java/uns/ac/rs/uks/controller/BranchController.java
  backend/uks/src/main/java/uns/ac/rs/uks/dto/request/ReadCommitsRequest.java
  backend/uks/src/main/java/uns/ac/rs/uks/dto/response/CommitsResponseDto.java
  backend/uks/src/main/java/uns/ac/rs/uks/service/BranchService.java
  backend/uks/src/main/java/uns/ac/rs/uks/service/GitoliteService.java
  backend/uks/src/main/resources/application-dev.properties
Labels: backend

#75 Feature 74: Showing branch differences and merging them
  .gitignore
  backend/uks/src/gitolite/getGitDifBetweenBranchesScript.sh
  backend/uks/src/gitolite/gitolite_admin_merge_script.log
  backend/uks/src/gitolite/mergeBranchesScript.sh
  backend/uks/src/main/java/uns/ac/rs/uks/controller/BranchController.java
  backend/uks/src/main/java/uns/ac/rs/uks/dto/request/MergeBranchesRequest.java
  backend/uks/src/main/java/uns/ac/rs/uks/service/BranchService.java
  backend/uks/src/main/java/uns/ac/rs/uks/service/GitoliteService.java
  backend/uks/src/main/java/uns/ac/rs/uks/service/RepoService.java
  backend/uks/src/main/resources/application-dev.properties
Labels: technical, backend

#77 Feature 76: Gitolite service added to docker compose
  backend/uks/src/gitolite/Dockerfile
  backend/uks/src/main/java/uns/ac/rs/uks/service/RepoService.java
  docker-compose.yml
Labels: technical

#79 Bugfix 78: Api tests failing
  backend/uks/src/test/java/uns/ac/rs/uks/service/RepoServiceTest.java
  backend/uks/src/test/resources/application-test.properties
Labels: bug, backend

#81 Feature 80: Gitolite functionality to delete branches
  backend/uks/src/gitolite/deleteBranchScript.sh
  backend/uks/src/gitolite/getGitDifBetweenBranchesScript.sh
  backend/uks/src/gitolite/gitolite_admin_delete_branch_script.log
  backend/uks/src/gitolite/gitolite_admin_merge_script.log
  backend/uks/src/main/java/uns/ac/rs/uks/controller/BranchController.java
  backend/uks/src/main/java/uns/ac/rs/uks/service/BranchService.java
  backend/uks/src/main/java/uns/ac/rs/uks/service/GitoliteService.java
  backend/uks/src/main/resources/application-dev.properties
  backend/uks/src/test/resources/application-test.properties
Labels: technical, backend

#87 Fixed route overlaps (#85)
  backend/uks/src/main/java/uns/ac/rs/uks/repository/LabelRepository.java
  backend/uks/src/main/resources/data-postgres.sql
  backend/uks/src/test/java/uns/ac/rs/uks/controller/LabelControllerTest.java
  backend/uks/src/test/java/uns/ac/rs/uks/controller/RepoControllerTest.java
  backend/uks/src/test/java/uns/ac/rs/uks/service/RepoServiceTest.java
  frontend/uks/src/app/app-routing.module.ts
  frontend/uks/src/app/components/atoms/sidebar/sidebar.component.html
  frontend/uks/src/app/components/atoms/tabs/tabs.component.html
  frontend/uks/src/app/components/atoms/tabs/tabs.component.ts
  frontend/uks/src/app/components/molecules/issue-item/issue-item.component.ts
  frontend/uks/src/app/components/molecules/issues-button-group/issues-button-group.component.html
  frontend/uks/src/app/components/molecules/issues-button-group/issues-button-group.component.ts
  frontend/uks/src/app/components/molecules/milestone-item/milestone-item.component.ts
  frontend/uks/src/app/components/molecules/pr-item/pr-item.component.ts
  frontend/uks/src/app/components/molecules/search-result-item/search-result-item.component.spec.ts
  frontend/uks/src/app/components/organisms/project-labels/project-labels.component.ts
  frontend/uks/src/app/components/organisms/repo-settings/repo-settings.component.html
  frontend/uks/src/models/navigation.ts
  frontend/uks/src/services/navigation/navigation.service.spec.ts
  frontend/uks/src/services/navigation/navigation.service.ts
  frontend/uks/src/services/repo/repo.service.ts
Labels: bug

#89 Feature 23 repository watching and starring
  backend/uks/src/main/java/uns/ac/rs/uks/controller/RepoController.java
  backend/uks/src/main/java/uns/ac/rs/uks/controller/UserController.java
  backend/uks/src/main/java/uns/ac/rs/uks/dto/request/RepoStarWatchRequest.java
  backend/uks/src/main/java/uns/ac/rs/uks/dto/response/WatchStarResponseDTO.java
  backend/uks/src/main/java/uns/ac/rs/uks/model/Repo.java
  backend/uks/src/main/java/uns/ac/rs/uks/repository/user/UserRepository.java
  backend/uks/src/main/java/uns/ac/rs/uks/service/RepoService.java
  backend/uks/src/main/java/uns/ac/rs/uks/service/UserService.java
  backend/uks/src/test/java/uns/ac/rs/uks/controller/RepoControllerTest.java
  backend/uks/src/test/java/uns/ac/rs/uks/controller/UserControllerTest.java
  backend/uks/src/test/java/uns/ac/rs/uks/repository/UserRepositoryTest.java
  backend/uks/src/test/java/uns/ac/rs/uks/service/RepoServiceTest.java
  frontend/uks/src/app/app-routing.module.ts
  frontend/uks/src/app/app.module.ts
  frontend/uks/src/app/components/atoms/input/input.component.html
  frontend/uks/src/app/components/atoms/input/input.component.ts
  frontend/uks/src/app/components/molecules/dialogs/yes-no-dialog/yes-no-dialog.component.html
  frontend/uks/src/app/components/molecules/dialogs/yes-no-dialog/yes-no-dialog.component.scss
  frontend/uks/src/app/components/molecules/dialogs/yes-no-dialog/yes-no-dialog.component.spec.ts
  frontend/uks/src/app/components/molecules/dialogs/yes-no-dialog/yes-no-dialog.component.ts
  frontend/uks/src/app/components/molecules/repo-about-side-view/repo-about-side-view.component.ts
  frontend/uks/src/app/components/molecules/repo-activities-button-group/repo-activities-button-group.component.html
  frontend/uks/src/app/components/molecules/repo-activities-button-group/repo-activities-button-group.component.spec.ts
  frontend/uks/src/app/components/molecules/repo-activities-button-group/repo-activities-button-group.component.ts
  frontend/uks/src/app/components/molecules/search-result-item/search-result-item.component.ts
  frontend/uks/src/app/components/molecules/user-item/user-item.component.html
  frontend/uks/src/app/components/molecules/user-item/user-item.component.scss
  frontend/uks/src/app/components/molecules/user-item/user-item.component.spec.ts
  frontend/uks/src/app/components/molecules/user-item/user-item.component.ts
  frontend/uks/src/app/components/organisms/code-overview/code-overview.component.ts
  frontend/uks/src/app/pages/profile-page/profile-page.component.html
  frontend/uks/src/app/pages/profile-page/profile-page.component.ts
  frontend/uks/src/app/pages/users-overview-page/users-overview-page.component.html
  frontend/uks/src/app/pages/users-overview-page/users-overview-page.component.scss
  frontend/uks/src/app/pages/users-overview-page/users-overview-page.component.spec.ts
  frontend/uks/src/app/pages/users-overview-page/users-overview-page.component.ts
  frontend/uks/src/models/navigation.ts
  frontend/uks/src/models/repo/repo.ts
  frontend/uks/src/models/user/user.ts
  frontend/uks/src/services/navigation/navigation.service.ts
  frontend/uks/src/services/repo/repo.service.ts
Labels: feature
